footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

/* about us */


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: rgb(210, 204, 204); */

    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    /* background-color:  rgb(77, 213, 218); */
    background-color: rgb(148, 151, 151);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-member img {
    border-radius: 50%;
    margin-right: 10px;
}