.container {
    /* background-color: aqua; */
    background-color: rgb(77, 213, 218);
    height: 60vh;
}

body {
    background-color: rgb(210, 204, 204);
}

.btn {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    /* background-color: navy; */

    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    background-color: navy;
    color: white;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 2px;
}