.container {
    /* background-color: aqua; */
    /* background-color: rgb(77, 213, 218); */
    background-color: rgb(148, 151, 151);
    height: 60vh;
}

body {
    background-color: rgb(210, 204, 204);
}
#nav{
    position: sticky;
    top: 0;
}


.btn {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    /* background-color: navy; */

    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    background-color: navy;
    color: white;
    padding: 5px;
    /* width: 100px; */
    border: none;
    border-radius: 2px;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/* footer */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-links li {
    margin: 0 15px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #66c2ff;
  }
  
  .sub-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .sub-links a {
    color: #66c2ff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .sub-links a:hover {
    text-decoration: underline;
  }
  
  .social-icons{
    display: flex;
    text-decoration: none;
    justify-content:center;
    
  }
  .social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  }
  
  .social-icons li {
  margin: 0 10px;
  }
  
  .social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
  color: #55acee; 
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;

    iframe {
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-top: 20px;
    }
}
  
  