.d-block{
    width: 100%;
    margin: auto;
    height: 550px;
    /* border: 5px solid grey; */
    /* border-radius:10px ; */
    /* background-size: 100%; */
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
/* ..............salogan............... */
.content{
    max-height: 0px ;
    padding: 0px 20px;
    transition: max-height 0.5s, padding 0.5s;

}

.content.active{
  max-height: 600px;
  padding: 30px 20px;
}


 /* ............................salogan.................. */
 @keyframes textAnimation {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* background-color:rgb(19, 177, 240); */
  }

  .animated-text {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:gray;
    
    background: linear-gradient(to bottom,rgb(5, 80, 117),rgb(75, 182, 244));
    
    
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    color:black;
    height: 200px;
    width: 100%;
    animation: textAnimation 2s infinite;
  }
  /* carousel */

  #carouselExampleInterval{
    margin-top: 190px;
  }


 