.d-block{
  padding-left: 25px;
  padding-right: 25px;
    width: 100%;
    margin: auto;
    height: 550px;
    
}
#nav{
  position: sticky;
  top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}
/* ..............salogan............... */
.content{
    max-height: 0px ;
    padding: 0px 20px;
    transition: max-height 0.5s, padding 0.5s;

}

.content.active{
  max-height: 600px;
  padding: 30px 20px;
}
 /* ............................salogan.................. */
 @keyframes textAnimation {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .animated-text {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:gray;
    
    /* background: linear-gradient(to bottom,rgb(5, 80, 117),rgb(75, 182, 244)); */
    
    
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    color:black;
    height: 200px;
    width: 100%;
    animation: textAnimation 2s;
  }
  /* services */
  .choose-us-section {
    padding: 50px 0;
    background-color: #343a40;
    color: #ffffff;
  }

  .feature-item {
    text-align: center;
    margin-bottom: 30px;
  }

  .feature-icon {
    font-size: 48px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  /* carousel */
 #carouselExampleInterval{
    margin-top: 190px;
  }

  /* footer  */
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}




footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #66c2ff;
}

.sub-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sub-links a {
  color: #66c2ff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.sub-links a:hover {
  text-decoration: underline;
}

.social-icons{
  display: flex;
  text-decoration: none;
  justify-content:center;
  
}
.social-icons {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.social-icons li {
margin: 0 10px;
}

.social-icons a {
text-decoration: none;
color: #fff;
font-size: 20px;
transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
color: #55acee; 
}


/* faq */



 