

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* footer */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
#nav{
    position: sticky;
    top: 0;
    z-index: 10;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-links li {
    margin: 0 15px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #66c2ff;
  }
  
  .sub-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .sub-links a {
    color: #66c2ff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .sub-links a:hover {
    text-decoration: underline;
  }
  
  .social-icons{
    display: flex;
    text-decoration: none;
    justify-content:center;
    
  }
  .social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  }
  
  .social-icons li {
  margin: 0 10px;
  }
  
  .social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
  color: #55acee; 
  }
  
  