footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
/* services */
.container{
    margin-bottom: 30px;
}
.main{
    /* padding: 40px; */
    margin: 30px;
    justify-content: center;
    display: flex;
    gap: 70px;
    /* width: 100vw; */
}
.main2{
    /* margin: auto; */
    justify-content: center;
    display: flex;
    gap: 70px;

}