footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.container{
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.card-title{
    justify-content: center;
    align-items: center;
    display: flex;
}
