* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(210, 204, 204);

}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.testimonial {
    border-radius: 2px;
    margin: 50px 0;
    padding: 20px;
    background-color: rgb(148, 151, 151);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px 20px 0;
    vertical-align: middle;
    border: 2px solid navy;
}

.testimonial h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(112, 127, 129);
    margin: 0;
    padding: 0;
    align-items: flex-end;
    color: black;
}

.testimonial p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(66, 52, 52);
    margin: 0;
    padding: 0;
}

/* h1 {
    text-shadow: 5px 5px 10px gray;
    font-size: 45px;
    margin-top: 80px;
} */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
